nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background: linear-gradient(45deg, rgb(156,14,156), midnightblue);
}

.nav__list {
  list-style: none;
  background: linear-gradient(45deg, rgb(156,14,156), midnightblue);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.nav__item {
  margin:  0 15px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.nav__btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
}

@media screen and (max-width: 500px) {

  .nav__list {
    flex-direction: column;
    height: auto;
  }

  .nav__item:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    margin-top: 50px;
  }

  .nav__item {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    line-height: 70px;
    text-align: center;
  }

  .nav__btn{
    display: block;
  }
}